h1 {
    color: white;
    background: #252526;
    text-align: center;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

body {
    background-color: #1e1e1e;
}

p{
    color: white;
}

li {
    color: white;
}

.vinculo {
    color: #68afd8;
    display: inline-block;
}

.h1,h2{
    text-align: center;
}

/* estilo formulario */

form {
    /* Centrar el formulario en la página */
    margin: 0 auto;
    width: 400px;
    /* Esquema del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
       Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
    font: 1em sans-serif;
  
    /* Tamaño uniforme del campo de texto */
    width: 300px;
    box-sizing: border-box;
  
    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #000;
  }
  
  textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;
  
    /* Proporcionar espacio para escribir texto */
    height: 5em;
  }
  
  .button {
    /* Alinear los botones con los campos de texto */
    padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
  }
  
  button {
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
       entre las etiquetas y sus campos de texto */
    margin-left: .5em;
  }
  .logo{
    padding-inline-end: 100%;
    margin: 1px;
    width: 35px;
    height: 20px;
  }
  .logoid{
    margin: 10px;
    width: auto;
    height: 60px;
  }
  .back{
    align-items: center;
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    background-color: #00252514;
    border-radius: 6px;
    border: 2px solid #a1a1a1;
  }
  .back:hover{
    color: #050202;
    background-color: #ffffff;
  }

  
